body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4d90fe, #8c7def);
    animation: backgroundAnimation 20s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  #task-input {
    padding: 10px;
    margin-right: 10px;
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .close-button {
    margin-left: auto;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 50%;
  }
  
  .close-button:hover {
    background-color: red;
  }
  @keyframes backgroundAnimation {
    0% {
      background: linear-gradient(to bottom right, #4d90fe, #8c7def);
    }
    25% {
      background: linear-gradient(to bottom right, #f47f33, #ffc940);
    }
    50% {
      background: linear-gradient(to bottom right, #45cafc, #4d90fe);
    }
    75% {
      background: linear-gradient(to bottom right, #8c7def, #f47f33);
    }
    100% {
      background: linear-gradient(to bottom right, #ffc940, #45cafc);
    }
  }